.chatmodal-container {
    margin-top: 10px;
    width: 100%;
}

.chat-button-div {
    background-color: #fff;
    border: none;
    display: flex;
    align-items: center; 
    cursor: pointer; 
}

.chat-row-div {
    display: flex;
    /* align-items: center;  */
}

.chat-icon {
    height: 50px;
    width: 50px;
    /* margin-right: 10px;  */
}

.chat-support, .super-admin {
    font-weight: 600;
}