.category-section {
    margin: 20px 0;
    text-align: center;
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.category-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.category-col {
    display: flex;
    justify-content: center;

}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.category-icon {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.category-name {
    margin-top: 10px;
    font-size: 16px;
}