.lower-products-container {
  padding: 20px;
  
}
.product-card {
  position: relative;
  background: white;
  max-width: 100%;
  margin: 10px auto;
  overflow: hidden;
}
.product-badge {
  position: absolute;
  height: 19px;
  top: 8px;
  left: 8px;
  background-color: rgb(228, 110, 6);
  color: white;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 4px 3px 4px; 
  border-radius: 4px;
  z-index: 10;
}

.product-veg-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 11;
}

.veg-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width:768px){
    .product-veg-icon{
        width:16px;
        height: 16px;
        top:5px;
        right:5px;
    }
}
.product-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
}

.product-name {
  max-height: 50px;
  width: 200px;
  padding: 8px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #4f4f4f;
  transition: transform 0.3s ease;
}

.product-card:hover .product-name {
  transform: translateY(-50px); 
}
