.product-card-unq {
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  max-height: 40vh;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
}

/* .product-card-unq:hover {
  transform: scale(1.05);
} */

.product-image {
  width: 100%;
  object-fit: cover;
  margin: 0;
  flex-grow: 1;
}

.food-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}
.food-symbol {
  height: 15px;
  width: 15px;
  position: absolute;
  right: 26px;
  top: 18px;
  background-color: #fff;
}

.discount-badge {
  position: absolute;
  left: 26px !important;
  color: #fff;
  background-color: #f6601f;
  padding: 4px !important;
  border-radius: 5px !important;
  font-size: 10px !important;
  line-height: 10px !important;
  top: 22px !important;
}

.product-details {
  padding: 10px;
  background-color: #fff;
  transition: transform 0.3s ease;
  position: relative;
  width: 100%;
}

.product-card-unq:hover .product-details {
  transform: translateY(-42px); /* Adjust based on your button height */
}

.product-name {
  font-size: 18px;
  
  color: #6c757d;
  margin-bottom: 5px;
}

.product-quantity {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.price-container {
  margin-top: 5px;
  margin-bottom: 5px;
}

.old-price {
  text-decoration: line-through;
  color: #212529 !important;
  margin-right: 5px;
}

.new-price {
  font-weight: bold;
  color: #212529 !important;
}

.button-container {
  position: absolute ;
  bottom: -42px; /* Should match the negative value in product-details transform */
  left: 0;
  width: 100%;
  background-color: white;
  padding: 5px 10px 10px ;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease ;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0 !important;
}

.button-container.show-button {
  bottom: 0;
  z-index: 2;
}

.count-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-btn {
  background-color: #79b530 !important;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  line-height: 1;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .product-card-unq {
    margin-right: 8px;
  }

  .product-card-unq:hover .product-details {
    transform: translateY(-40px);
  }

  .button-container {
    bottom: -40px;
  }
}

@media (max-width: 992px) {
  .product-card-unq {
    margin-right: 6px;
  }

  .product-card-unq:hover .product-details {
    transform: translateY(-38px);
  }

  .button-container {
    bottom: -38px;
  }
}

@media (max-width: 768px) {
  .product-card-unq {
    margin-right: 4px;
  }

  .product-name {
    font-size: 16px;
  }

  .product-quantity {
    font-size: 12px;
  }

  .product-card-unq:hover .product-details {
    transform: translateY(-50px);
  }

  .button-container {
    bottom: -6px;
  }
}

@media (max-width: 576px) {
  .product-card-unq {
    padding: 10px;
  }

  .product-image {
    height: 150px;
  }

  .product-name {
    font-size: 14px;
    
  }

  .product-quantity {
    font-size: 10px;
  }

  .add-btn {
    padding: 6px 10px;
    font-size: 12px;
  }

  .product-card-unq:hover .product-details {
    transform: translateY(-32px);
  }

  .button-container {
    bottom: -32px;
    padding: 3px 8px 8px;
  }
}
