.product-card-unq {
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-height: 300px;
  margin-right: 12px;
}

.product-card-unq:hover {
  transform: scale(1.05);
}

.product-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.food-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.food-symbol {
  width: 20px;
  height: 20px;
}

.discount-badge {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: red;
  color: white;
  padding: 5px 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
}

.product-details {
  padding: 10px;
  background-color: #fff;
  transition: all 0.25s;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  color: #6c757d;
}

.product-quantity {
  font-size: 14px;
  color: #666;
}

.price-container {
  margin-top: 5px;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 5px;
}

.new-price {
  font-weight: bold;
  color: green;
}

.button-container {
  display: none;
  /* Hide by default */
}

.product-card-unq:hover .button-container {
  display: flex;
  /* Show on hover */
  justify-content: center;
  align-items: center;
}

.count-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-btn {
  background-color: #79b530;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}