.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
  border-radius: 0.25re;
  height: 370px;
  border-radius: 0.25rem;
  overflow: hidden;
  transition: transform 0.25s;
}

.product-card:hover {
  transform: scale(1.05);
}
.product-image {
  height: 200px;
  width: 100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover !important;
}

.food-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.food-symbol {
  width: 20px;
  height: 20px;
}

.discount-badge {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #F6601F!important;
  color: white;
  padding: 5px 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
}

.product-details {
  padding: 10px;
  position: relative;
  background-color: #fff;
  transition: all 0.25s;
  flex: 1 1 auto;
  min-height: 1px;
  height: 50px;
  width: 100%;
}

.product-card:hover .product-details {
  max-height: 150px;
  position: relative;
  margin-top: -40px;
  opacity: 1;
}

.product-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #6c757d !important;
}

.product-quantity {
  font-size: 14px;
  color: #666;
}

.price-container {
  /* margin-top: 5px; */
}

.old-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 5px;
}

.new-price {
  font-weight: bold;
  color: green;
}

.add-btn {
  background-color: #79b530;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  margin-left: 100px;
  border-radius: 5px;
  display: block;
}

.product-card:hover .add-btn {
  display: block;
}
.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: box-shadow 0.3s;
}

.product-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  /* width: 100px; */
}

.button-container {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.product-card:hover .button-container {
  display: flex;
}