#addtocart_left {
    border-bottom: 0.5px solid #b6b3b3;
    margin-left: 20px;
    margin-top: 16px;
}

.addtocart_left > div {
    margin-bottom: 20px;
    border-bottom: 2px #7FAD39;
}

.groceries-basket {
    margin-left: 20px;
    margin-top: 16px;
    font-weight: 500;
    font-size: 16px;
}

.gorecy-items {
    color: #808090;
}

.cart {
    font-size: large;
}

.addtocart-image {
    display: flex;
}

.grocery-total {
    color: #303437;
}

.addtocart-details {
    display: flex !important;
    flex-direction: column !important;
    margin-left: 5px;
}

.addtocart-btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #7FAD39;
    border: none;
    color: white;
    font-size: 24px;
    margin: 22px;
}
.grocery-signs{
    size: 5px;
    display: flex;
    justify-content: center;
    margin-left: 6px;
}

.your_cart {
    font-size: 15px;
}

.your_cart span {
    margin-left: 5px;
}

.addtocart-head {
    display: flex;
    justify-content: space-around;
}
