.location-modal-container{
    width: 450px;
    height: 410px;
    /* display: flex !important; */
 /* align-items: center; */
border: none;
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
padding: 10px;
margin-left: 400px;

}

.map-img{
    height: 230px;
    width: 450px;
}

.location-heading{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #616161;
}

.delivery-heading{
    color: #616161;

}

.delivery-address{
    /* color: #616161; */
    padding: 5px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  margin-top: 15px; 
  background-color: #f9f9f9; 
  display: inline-block; 
  height: 20px;
}

.change-address {
    color: #7FAD39; 
    cursor: pointer;
    font-weight: 300;
    /* text-decoration: underline;  */
  }

  .footer-buttons{
    margin-top: 25px;
    column-gap: 10px !important;
  }

  .confirm-button{
    height: 45px;
    width: 250px;
    background-color: #FF3547;
    color: white;
    border: none;
    border-radius: 2px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-left: 40px;

  }

  .cancel-button{
    height: 45px;
width: 100px;
background-color: #FF3547;
color: white;
border: none;
border-radius: 2px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
margin-left: 15px;
  }