.historydetails-container{
width: 100%;
/* padding: 16px; */
}

.previous-element{
    display: flex ;
        flex-direction: row;
        justify-content: flex-start;
        cursor: pointer;
        font-weight: bold !important;
}

.details-heading{
    font-size: 15px;
    font-family: "semi-bold";
    margin: 20px 0;
    font-weight: 600;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.details-heading1{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 16px;
    color: #212529;
    margin-top: 15px;
    height: 40px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.details-heading2{
    display: flex;
    justify-content: space-between;
    height: 30px;
    font-size: 14px;
    margin-top: 10px;
    border-bottom: 1px dashed #D3D3D3;
}

.details-heading3{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: #212529;
    margin-top: 10px;
    border-bottom: 1px dashed #D3D3D3;
    height: 30px;
    font-size: 14px;
}

.details-heading4{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 15px;
}

.details-location-div{
    margin-top: 10px;
    color: #212529;
    font-weight: 600;
    font-size: 12px;
    gap: 5px;
}

.details-heading5{
    font-size: 15px;
    font-family: "semi-bold";
    margin: 20px 0;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.5;
    color: #212529;
}

.details-heading6{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 20px;

}

.details-heading7{
font-size: 15px;
    font-family: "semi-bold";
    margin: 20px 0;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    color: #212529;
    margin-top: 30px;
}

.store-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
}

.store-elements{
    display: flex;
    column-gap: 25px;
    padding: 40px;
}

.store-image{
    display: flex;
    align-items: center;
}

.store-details1{
    margin-bottom: 1rem;
    font-family: "semi-bold";
    font-size: 14px;
    font-weight: 600;
}

.store-details2{
    margin-bottom: 1rem;
    color: #808080;
}