.product-container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.product-main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  gap: 20px;
}


.product-image-card {
  border: none;
  box-shadow: none;
}

.product-image-container {
  position: relative;
  width: 100%;
  text-align: center;
}

.product-imageR2 {
  width: 100%;
  max-height: 600px;
  object-fit: contain;
}

.discount-badgeR {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
}


.product-detailsR4 {
  border: none;
  box-shadow: none;
  width: 100%;
  margin-left: 800px;
}

.product-titleR3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.mrpR5 {
  color: gray;
  display: block;
  text-align: center;
}

.priceR6 {
  color: green;
  font-size: 16px;
  font-weight: bold;
  display: block;
  text-align: center;
}

.discountR7 {
  color: #28a745;
  font-weight: bold;
  text-align: center;
}

.PCD1 {
  font-size: 14px;
  color: black;
  display: block;
  text-align: center;
  margin-top: 5px;
}

.in-stock {
  color: green;
  font-weight: bold;
  text-align: center;
}

.out-of-stock {
  color: red;
  font-weight: bold;
  text-align: center;
}

.seller-infoR8 {
  text-align: center;
}

.seller-infoR8 a {
  color: blue;
  text-decoration: none;
}

.seller-infoR8 a:hover {
  text-decoration: underline;
}

.add-to-cartR9 {
  background: #7FAD39;
  border: none;
  color: white;
  font-weight: bold;
  width: 30%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}


.product-details-containerR {
  text-align:left;
  padding: 15px;
  border-top: 1px solid #ddd;
  
  
}

.section-titleR {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  text-align: left;
  margin-left: 150px;
}

.section-contentR {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  text-align: left;
  margin-left: 200px;
}

.section-contentR ul {
  padding-left: 20px;
}

.section-contentR li {
  list-style-type: disc;
}

.PCD2 {
  color: skyblue;
}
