.tlogin{
  color: #212529;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  display: block !important;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: auto;
  margin-right: 0;
  padding-right: 0;
}

.closebtn:hover{
  text-decoration: none;
  color:#000 ; 
}

.loginpage {
  height: 100%;
  width: 100%;
  border: 1px solid #d0d0d0 ;
  justify-content: center;
  display: flex;
  /* flex-direction: column; */
  pointer-events: auto;
  border-radius: .3rem;
  outline: 0;
  box-shadow: 0 5px 11px #0000002e, 0 4px 15px #00000026;
  
}

.open-btn {
  padding: 10px 20px;
  font-size: 16px;
}

.login-form {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
}

.form-input {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.0;
    color: #495057;
    background-color: #fff;
    border-radius: .25rem;
    outline: 0;
    margin: 12px;
    width: 90%;
    border: 1px solid #a9abb2; 
}
.form-input::placeholder{
  color: #a9abb2 ;
  font-weight: bold;
}

.forgot-password,
.create-account {
  display: block;
  margin: 0px 10px 16px;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #212529;
  text-decoration: none;
  justify-content: right;
  text-align: right;
}

.create-account {
  color: red;
}

.login-btn {
  width: 60px;
  display: flex;
  justify-content: center;
  background-color: #2bbbad;
  color: white;
  border: 0;
  box-shadow: 0 2px 5px #00000029, 0 2px 10px #0000001f;
  padding: 0.84rem 3.14rem;
  font-size: 0.81rem;
  margin: 0.375rem auto;
  border-radius: 0.125rem;
  font-weight: 400;
  margin-top: 0;
  padding-top: 0;
}

.login-btn:hover {
  background-color: darkblue;
}
