.dropdown-container {
    background-color: #F3F3F3!important;
    justify-content: space-between;
    height: 9vh;
    width: 100%;
    column-gap: 40px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-wrap: wrap;
}

.top-dropdown {
    color: #333333!important;
    background-color: #F3F3F3!important;
    border: none!important;
    font-size: 16px;
    margin-left: 25px;
    text-align: center;
}

.location-icon {
    color: #808080;
    margin-right: 15px;
    margin-bottom: 4px;
}

#dropdown-box {
    border: none;
    border-radius: 0%;
    background-color: #F3F3F3 !important;
}

@media (max-width: 576px) {
    .dropdown-container {
        flex-direction: column; 
        height: auto; 
        padding: 5px; 
    }

    .top-dropdown {
        margin-left: 0px; /* Remove left margin */
        margin-bottom: 10px; /* Add some space below each dropdown */
        font-size: 14px; /* Reduce font size for smaller screens */
    }

    .location-icon {
        margin-right: 10px; /* Decrease icon margin on small screens */
    }

    #dropdown-box {
        padding: 8px 0; 
    }
}

@media (max-width: 768px) {
    .dropdown-container {
        flex-wrap: wrap; 
        height: auto; 
    }

    .top-dropdown {
        font-size: 15px; 
    }
}

@media (min-width: 992px) {
    .dropdown-container {
        justify-content: space-between; 
    }

    .top-dropdown {
        font-size: 16px; 
    }
}

@media (min-width: 576px) {
    .dropdown-container {
        column-gap: 30px; 
    }
}

.top-dropdown:hover {
    background-color: #E1E1E1!important;
    color: #333333;
    border: none;
}
